
{
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "jsx-a11y/no-autofocus": 0,
    "no-restricted-globals": 0,
    "no-underscore-dangle": 0,
    "import/no-named-as-default": 0
  },
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  }
}